<%- include('../partials/head', { title }) %>
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-4">
      <h1 class="mb-3">Login</h1>
      <% if (typeof error !== 'undefined') { %>
        <div class="alert alert-danger"><%= error %></div>
      <% } %>
      <form method="post" action="/login">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="mb-3">
          <label class="form-label">E-mail</label>
          <input name="email" class="form-control" required />
        </div>
        <div class="mb-3">
          <label class="form-label">Senha</label>
          <input name="password" type="password" class="form-control" required />
        </div>
        <button class="btn btn-primary w-100">Entrar</button>
      </form>
    </div>
  </div>
</div>
</body></html>
